*{
	box-sizing: border-box;
	font: roboto;
}
.logoScale {
    width: 125px;
}

.navBackground {
    background-color: #3E4342;
}

.container1 {
    background-image: linear-gradient(0deg, rgba(2,0,36,0.5998774509803921) 0%, rgba(5,5,5,0.5102415966386555) 100%), url(./images/ba1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 700px;
}

.mainCopy {
    color: white;
    padding-top: 150px;
    text-align: right;
    
}

.myCardStyle {
    margin: 50px 0px;
}

.oradoresText {
    align-content: center;
}

.cursor{
    cursor: pointer;
}

.bgHonolulu {
    background-image: url(./images/honolulu.jpg);
    background-size: cover;
}

.bgConf {
    background-color: #333a41;
    color: white;
    padding-top: 25px;
}

.posOrators {
    margin-top: 50px;
}

.oratorsForm {
    background-color:#ffff00;
}

.contHeight {
    height: 500px;
}

.oradorForm {
    margin: 0px auto;
}


.containerMaxWidth {
    max-width: 800px;
    margin: 0px auto;
}


form .buttonBackground {
    color: white;
    background-color: #A0B04E;
}

.footerProperties {
    background: rgb(29, 58, 75);
    margin-bottom: 0px;
    margin-top: 5%;
}


.rowMargin {
    margin: 15px 0px;
}

.textIgnite {
	underline:
}